Repository Kato-Haruki-404/fitjob-front: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  run: 'bun x biome check --write --no-errors-on-unmatched {staged_files}
  
    '
  stage_fixed: true
  fail_text: Biomeエラーがあります。修正してください。

prettier:
  run: 'bun x prettier -w {staged_files}
  
    '
  stage_fixed: true
  fail_text: Prettierエラーがあります。修正してください。

eslint:
  run: 'bun x eslint {staged_files} --fix
  
    '
  stage_fixed: true
  fail_text: ESLintエラーがあります。修正してください。

Update biome.json
  biome.json
Due: biome

chore(deps): Bump biome dev dependency to 2.3.13
  bun.lock
  package.json
Due: biome

fmt: format project
  eslint.config.mts
  next.config.ts
  postcss.config.mjs
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: biome, eslint

chore: regenerate bun.lock
  bun.lock
Due: none

chore(editor): Add biome format on save settings
  .vscode/settings.json
  .zed/settings.json
Due: biome

add: install @headlessui/react
  bun.lock
  package.json
Due: biome

refactor(layout): Switch default font to Noto Sans JP
  src/app/layout.tsx
Due: biome, eslint

add: install clsx
  bun.lock
  package.json
Due: biome

add: install tailwind-merge
  bun.lock
  package.json
Due: biome

style(ui): Update global theme variables
  src/app/globals.css
Due: biome

add: install lucide-react
  bun.lock
  package.json
Due: biome

feat(ui): Add button component
  src/components/ui/button.tsx
Due: biome, eslint

style(ui): Improve button hover and add transitions
  src/components/ui/button.tsx
Due: biome, eslint

refactor(styles): Add color-main alias to theme variables
  src/app/globals.css
Due: biome

fix(ui): Remove explicit text color from button variants
  src/components/ui/button.tsx
Due: biome, eslint

feat(layout): Add header and main layout structure
  src/app/layout.tsx
Due: biome, eslint

feat(ui): Add responsive header component(wip)
  src/components/header.tsx
Due: biome, eslint

feat(app): add custom 404 page
  src/app/not-found.tsx
Due: biome, eslint

add: install tanstack-form
  bun.lock
  package.json
Due: biome

add: install zod
  bun.lock
  package.json
Due: biome

Update src/components/ui/button.tsx
  src/components/ui/button.tsx
Due: biome, eslint

chore(lint): Disable children prop lint rule
  biome.json
  eslint.config.mts
Due: biome

feat(ui): Allow native props and className on button
  src/components/ui/button.tsx
Due: biome, eslint

feat(ui): Add form ui components
  src/components/ui/form.tsx
Due: biome, eslint

feat(hooks): Add useForm hook with form and field contexts
  src/hooks/useForm.tsx
Due: biome, eslint

feat(auth): Add login page with client-side validation
  src/app/login/page.tsx
Due: biome, eslint

fix(auth): Display error message instead of object
  src/app/login/page.tsx
Due: biome, eslint

fix(auth): Update registration link to signup route
  src/app/login/page.tsx
Due: biome, eslint

feat(auth): Add signup page with client-side validation
  src/app/signup/page.tsx
Due: biome, eslint

style(ui): Remove fixed min width from input
  src/components/ui/form.tsx
Due: biome, eslint

style(ui): Adjust auth form layout and link styling
  src/app/login/page.tsx
  src/app/signup/page.tsx
Due: biome, eslint

feat(ui): Add asChild support to button component
  src/components/ui/button.tsx
Due: biome, eslint

fix(ui): Fix not found button link composition
  src/app/not-found.tsx
Due: biome, eslint

chore(deps): Add @radix-ui/react-slot dependency
  bun.lock
  package.json
Due: biome

Update src/components/header.tsx
  src/components/header.tsx
Due: biome, eslint

style(css): Remove default body font and unused vars
  src/app/globals.css
Due: biome

style(ui): Adjust responsive typography in 404 page
  src/app/not-found.tsx
Due: biome, eslint

Path conditions:
  biome: any of: *.{ts,tsx,js,jsx,json,css,scss}
  prettier: any of: *.{md,yml}
  eslint: any of: *.{ts,tsx,js,jsx}
